{% extends 'base.html'%}
{% block content %}
<div id="cards" >  

  <figure class= "card card--{{post.type}}">
    <div class="card__image-container">
      <img class="card-img-top" src="{{post.img_url}}">   
    </div>
    
    <figure class="card__caption">
      <h1 class="card__name">{{post.title.upper()}}</h1>
  
      <h3 class="card__type">
        <td>{{post.type}}</td>
      </h3>
  
      <table class="card__stats">
        <tbody><tr>
          <th>HP</th>
          <td>{{post.base_hp}}</td>
        </tr>
        <tr>
          <th>Attack</th>
          <td>{{post.base_att}}</td>
        </tr>
        
        <tr>
          <th>Defense</th>
          <td>{{post.base_def}}</td>
        </tr>
  
        <tr>
          <th>Special Attack</th>
          <td>{{post.base_spec_att}}</td>
        </tr>
        <tr>
          <th>Special Defense</th>
          <td>{{post.base_spec_def}}</td>
        </tr>
        <tr>
          <th>Speed</th>  
          <td>{{post.base_speed}}</td>
        </tr>
      </tbody></table>
      
      <div class="card__abilities">
        <h4 class="card__ability">
          <span class="card__label.lowercase()">Ability:</span>
          <em> {{post.caption.title()}}</em>
        </h4>

      </div>
    </figcaption>
  </figure>
</div>


<script id="card-template" type="text/x-handlebars-template">
<figure class="card card--{{type}}">
  <div class="card__image-container">
    <img src="{{imageAddress}}" alt="{{name}}" class="card__image">   
  </div>
  
  <figcaption class="card__caption">
    <h1 class="card__name">{{name}}</h1>

    <h3 class="card__type">e
      {{type}}
    </h3>

    <table class="card__stats">
      <tr>
        <th>HP</th>
        <td>{{hp}}</td>
      </tr>
      <tr>
        <th>Attack</th>
        <td>{{attack}}</td>
      </tr>
      
      <tr>
        <th>Defense</th>
        <td>{{defense}}</td>
      </tr>

      <tr>
        <th>Special Attack</th>
        <td>{{spAttack}}</td>
      </tr>
      <tr>
        <th>Special Defense</th>
        <td>{{spDefense}}</td>
      </tr>
      <tr>
        <th>Speed</th>  
        <td>{{speed}}</td>
      </tr>
    </table>
    
    <div class="card__abilities">
      <h4 class="card__ability">
        <span class="card__label">Ability</span>
        {{ability1}}
      </h4>
      <h4 class="card__ability">
        <span class="card__label">Hidden Ability</span>
        {{ability2}}
      </h4>
    </div>
  </figcaption>
</figure>
</script>
    {% if current_user.id == post.user_id %}
    
    
    <button type="button" class="btn btn-danger mx-auto" data-toggle="modal" data-target="#exampleModal" style="width: 10rem;">
      Delete
    </button>

 
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Delete?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This action cannot be undone!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a type="button" class="btn btn-danger" href="/posts/delete/{{post.id}}">Delete</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
</div>
{% endblock %}