<nav class="navbar navbar-expand-lg bg-light" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">POKEDOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts/create">Catch a Pokemon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts">View Pokemon</a>
          </li>
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hello, {{ current_user.username.title() }}</a>
            </li>
            {% else%}
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          {% endif %}


          </li>
        </ul>
      </div>
    </div>
  </nav>